@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;
        --radius: 0.5rem;
    }
}

body {
    font-family: 'Inter', sans-serif;
    @apply bg-gray-50 text-slate-900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-semibold tracking-tight;
}

.animate-fade-in {
    animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}